<div class="modal-header">
    <h3 class="modal-title">{{ vm.State }} </h3>
</div>
<div class="modal-body" block-ui="blockModalCFornecedor">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" ng-if="vm.FormMessage.length > 0">
                <span><i class="fa fa-exclamation-triangle"></i> <strong>{{ vm.FormMessage }}</strong></span>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="panel">
                        <ul class="nav nav-tabs nav-tabs-simple" role="tablist">
                            <li class="active" id="lidados">
                                <a data-toggle="tab" data-target="#tabdados">Dados do Fornecedor</a>
                            </li>
                            <li class="" id="liEndereco">
                                <a data-toggle="tab" data-target="#tabendereco">Dados de Endereço</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabdados">
                                <div class="row column-seperation">
                                    <div class="col-md-12">
                                        <div class="panel-body m-t-20">
                                            <form name="forms.dadosfornecedores" role="form">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group" show-errors>
                                                            <label for="tipo" class="control-label required">Tipo</label>
                                                            <select class="form-control m-b" ng-options="item.Key as item.Value for item in vm.tipos" name="tipo" ng-model="vm.tipoSelecionado" required></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" ng-if="vm.tipoSelecionado == 'PF'">
                                                    <div class="col-md-7">
                                                        <div class="form-group" show-errors>
                                                            <label for="Nome" class="control-label required">Nome</label>
                                                            <input class="form-control bg-light" name="Nome" ng-model="vm.fornecedor.Nome" type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group" show-errors>
                                                            <label for="DtNascimento" class="control-label required">Data Nascimento</label>
                                                            <input class="form-control bg-light" name="DtNascimento" ng-model="vm.fornecedor.DataNascimento" type="text" ui-date-mask required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" show-errors>
                                                            <label for="CPF" class="control-label required">CPF</label>
                                                            <input class="form-control bg-light" name="CPF" ng-model="vm.fornecedor.CPF" ui-br-cpf-mask type="text" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" ng-if="vm.tipoSelecionado == 'PJ'">
                                                    <div class="col-md-4">
                                                        <div class="form-group" show-errors>
                                                            <label for="CNPJ" class="control-label required">CNPJ</label>
                                                            <input class="form-control bg-light" name="CNPJ" ng-model="vm.fornecedor.CNPJ" ui-br-cnpj-mask type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group" show-errors>
                                                            <label for="RazaoSocial" class="control-label required">Razão Social</label>
                                                            <input class="form-control bg-light" name="RazaoSocial" ng-model="vm.fornecedor.RazaoSocial" type="text" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" ng-if="vm.tipoSelecionado == 'PJ'">
                                                    <div class="col-md-4">
                                                        <div class="form-group" show-errors>
                                                            <label for="IE" class="control-label">Inscrição Estadual</label>
                                                            <input class="form-control bg-light" name="IE" ng-model="vm.fornecedor.InscricaoEstadual" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group" show-errors>
                                                            <label for="Fantasia" class="control-label required">Nome Fantasia</label>
                                                            <input class="form-control bg-light" name="Fantasia" ng-model="vm.fornecedor.NomeFantasia" type="text" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group" show-errors>
                                                            <label for="Situacao" class="control-label">Situação</label>
                                                            <div class="radio radio-success">
                                                                <input type="radio" value="A" ng-model="vm.fornecedor.Situacao" name="Situacao" id="Ativo">
                                                                <label for="Ativo">Ativo</label>
                                                                <input type="radio" ng-model="vm.fornecedor.Situacao" value="I" name="Situacao" id="Inativo">
                                                                <label for="Inativo">Inativo</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group" show-errors>
                                                            <label for="obs" class="control-label">Observação</label>
                                                            <textarea name="obs" ng-model="vm.fornecedor.Observacao" class="form-control bg-light" style="width:100%;" rows="5"></textarea>
                                                            <span>{{4000 - vm.fornecedor.Observacao.length}} Caracteres</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="tabendereco">
                                <div class="row column-seperation">
                                    <div class="col-md-12">
                                        <div class="panel-body m-t-20">
                                            <form name="forms.dadosendereco" role="form">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group" show-errors>
                                                            <label for="Nome" class="control-label required">Cep</label>
                                                            <input class="form-control bg-light" name="Nome" ng-model="vm.fornecedor.Cep" type="text" ui-br-cep-mask required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" show-errors>
                                                            <label for="Logradouro" class="control-label required">Logradouro</label>
                                                            <input class="form-control bg-light" name="Logradouro" ng-model="vm.fornecedor.Logradouro" type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" show-errors>
                                                            <label for="Nr" class="control-label required">Número</label>
                                                            <input class="form-control bg-light" name="Nr" ng-model="vm.fornecedor.Nr" type="text" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group" show-errors>
                                                            <label for="Bairro" class="control-label required">Bairro</label>
                                                            <input class="form-control bg-light" name="Bairro" ng-model="vm.fornecedor.Bairro" type="text" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group" show-errors>
                                                            <label for="estado" class="control-label required">Estado</label>
                                                            <select class="form-control m-b" ng-options="item.Id as item.Nome for item in vm.estados" name="estado" ng-model="vm.estadoSelecionado" required></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group" show-errors>
                                                            <label for="Cidade" class="control-label required">Cidade</label>
                                                            <select class="form-control m-b" ng-options="item.Id as item.Nome for item in vm.cidades" name="Cidade" ng-model="vm.cidadeSelecionada" required></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group" show-errors>
                                                            <label for="Complemento" class="control-label">Complemento</label>
                                                            <input class="form-control bg-light" name="Complemento" ng-model="vm.fornecedor.Complemento" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" show-errors>
                                                            <label for="Referencia" class="control-label">Referência</label>
                                                            <input class="form-control bg-light" name="Referencia" ng-model="vm.fornecedor.Referencia" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group" show-errors>
                                                            <label for="TelCelular" class="control-label">Telefone Celular</label>
                                                            <input class="form-control bg-light" name="TelCelular" ng-model="vm.fornecedor.TelefoneCelular" ui-br-phone-number type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group" show-errors>
                                                            <label for="TelResidencial" class="control-label">Telefone Residencial</label>
                                                            <input class="form-control bg-light" name="TelResidencial" ng-model="vm.fornecedor.TelefonePrincipal" ui-br-phone-number type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group" show-errors>
                                                            <label for="Email" class="control-label">Email</label>
                                                            <input class="form-control bg-light" name="Email" ng-model="vm.fornecedor.Email" type="email" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="vm.cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="vm.save()"><i class="fa fa-save"></i> Salvar</button>

</div>

