<div block-ui="blockModalListaFor">
    <div class="row white-bg dashboard-header">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" ng-if="vm.FormMessage.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <i class="fa fa-exclamation-triangle pull-left" style="font-size: 20px;"></i>
                            {{vm.FormMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" name="forms.funcionarios" ng-enter="vm.buscar()" ng-submit="vm.buscar()" role="form" id="form" autocomplete="off" novalidate>
                <div class="col-lg-8">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Nome</label>
                        <div class="col-sm-11"><input type="text" class="form-control" placeholder="Pesquisar..." name="nome" ng-model="vm.nome" maxlength="100"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary pull-left" ng-click="vm.buscar()">Buscar</button>
                        <button type="button" style="margin-left:20px;" ng-click="vm.addFornecedor(0)" tooltip="Novo Fornecedor" class="btn btn-primary btn-cons"> + Fornecedor</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="row" ng-if="vm.fornecedores.length > 0">
        <div class="col-md-12">
            <table class="table table-hover table-condensed table-striped" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr class="bg-complete-lighter">
                        <th style="width: 30%">Nome / Razão Social </th>
                        <th style="width: 10%">Tipo </th>
                        <th style="width: 15%">Telefone Celular</th>
                        <th style="width: 15%">Telefone Residencial</th>
                        <th style="width: 20%">E-mail</th>
                        <th style="width: 10%">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in vm.fornecedores">
                        <td ng-if="x.Nome != ''">{{x.Nome | uppercase}}</td>
                        <td ng-if="x.RazaoSocial != ''">{{x.RazaoSocial | uppercase}}</td>
                        <td><span ng-class="{'badge badge-success': x.Tipo == 'PJ',
                                                                        'badge badge-important': x.Tipo == 'PF' }">{{ x.Tipo == 'PJ' ? 'Pessoa Juridica' : 'Pessoa Física' }}</span></td>
                        <td>{{x.TelefoneCelular }}</td>
                        <td>{{x.TelefonePrincipal }}</td>
                        <td>{{x.Email | uppercase}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.addFornecedor(x.IdFornecedor)" tooltip="Editar Fornecedor"> <span class="glyphicon glyphicon-edit"></span>  </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" ng-if="vm.fornecedores.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info bordered" role="alert">
                Não existem fornecedores cadastrados.
            </div>
        </div>
    </div>
</div>