<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apiconsultorio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apiconsultorio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>apiconsultorio</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$apiconsultorio</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConectClinicas" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=mysql.genialsoft.com.br;user id=genialsoft39;database=genialsoft39;password=456ixggd; respect binary flags=false" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConectClinicas_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=mysql.genialsoft.com.br;user id=genialsoft39;database=genialsoft39;password=456ixggd; respect binary flags=false" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConectSecurity" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=mysql05-farm59.uni5.net;user id=genialsaude01;database=genialsaude01;password=r15008956" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConectSecurity_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=mysql05-farm59.uni5.net;user id=genialsaude01;database=genialsaude01;password=r15008956" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Clinicas.Infrastructure.Context.ClinicasContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Clinicas.Infrastructure.Context.ClinicasContext, Clinicas.Infrastructure" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Clinicas.Infrastructure.Context.ClinicasContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConectClinicas-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConectSecurity-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Clinicas.Infrastructure.Context.ClinicasContext" />
  </ItemGroup>
</Project>