<div class="modal-header">
    <h3 class="modal-title">{{ vm.State }} </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" ng-if="vm.FormMessage.length > 0">
                <span><i class="fa fa-exclamation-triangle"></i> <strong>{{ vm.FormMessage }}</strong></span>
            </div>
            <form name="forms.medidas" role="form" block-ui="blockModalMedidas">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <label for="Paciente" class="control-label">Paciente</label>
                            <input class="form-control bg-light" name="Paciente" ng-model="vm.medidaantropmetrica.Paciente" type="text" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" show-errors>
                            <label for="Peso" class="control-label">Peso</label>
                            <input class="form-control bg-light" name="Peso" ng-model="vm.medidaantropmetrica.Peso" type="text" ui-number-mask="2" ng-blur="vm.calcularImc()">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" show-errors>
                            <label for="Altura" class="control-label">Altura</label>
                            <input class="form-control bg-light" name="Altura" ng-model="vm.medidaantropmetrica.Altura" type="text" ui-number-mask="2" ng-blur="vm.calcularImc()">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" show-errors>
                            <label for="imc" class="control-label">IMC</label>
                            <input class="form-control bg-light" name="imc" ng-model="vm.medidaantropmetrica.Imc" type="text" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" show-errors>
                            <label for="Data" class="control-label">Data</label>
                            <input class="form-control bg-light" name="Data" ng-model="vm.medidaantropmetrica.Data" type="text" ui-date-mask>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" show-errors>
                            <label for="PerimetroCefalico" class="control-label">PerimetroCefalico</label>
                            <input class="form-control bg-light" name="PerimetroCefalico" ng-model="vm.medidaantropmetrica.PerimetroCefalico" type="text" ui-number-mask="2">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="vm.cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="vm.save()"><i class="fa fa-save"></i> Salvar</button>

</div>

