<div class="modal-header" style="margin-bottom:10px;">
    <button type="button" class="close" ng-click="vm.cancel()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h5 class="modal-title" id="myModalLabel">{{ vm.State }}</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" ng-if="vm.FormMessage.length > 0">
                <span><i class="fa fa-exclamation-triangle"></i> <strong>{{ vm.FormMessage }}</strong></span>
            </div>
            <form name="forms.modelos" role="form" block-ui="blockModalModelo">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <label for="Data" class="control-label required">Tipo </label>
                            <select class="form-control m-b" ng-options="item.Key as item.Value for item in vm.tiposmodelos" name="profissional" ng-model="vm.modeloSelecionado" required></select>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" show-errors>
                            <label for="nome" class="control-label required">Descrição</label>
                            <input class="form-control bg-light" name="nome" ng-model="vm.modelo.NomeModelo" type="text" maxlength="100" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Variáveis de Configuração  </p>
                        <p> <strong> @data </strong>- Exibe a Data Atual</p>
                        <p> <strong> @nomepaciente </strong>- Exibe o nome do Paciente
                        <p> <strong> @medico </strong>- Exibe o nome do Profissional de Saúde
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- , 'redo', 'undo', 'clear'     -->
                            <div class="form-group" show-errors>
                                <label for="htmlcontent" class="control-label required">Descrição</label>
                                <text-angular style="height:400px;" ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre'],
				['bold', 'italics', 'underline', 'ul', 'ol'],
				['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull']]" ta-text-editor-class="form-control myform1-height" ta-html-editor-class="form-control myform1-height" name="htmlcontent" required ng-model="vm.modelo.Descricao"></text-angular>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.modelo.IdModeloProntuario > 0">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label class="control-label required"> Situação </label>
                                <label for="Situacao" class="control-label">
                                    <input type="radio" ng-model="vm.SituacaoA" i-check name="Situacao" value="Ativo">
                                    Ativo
                                </label>

                                <label for="Situacao" class="control-label">
                                    <input type="radio" ng-model="vm.SituacaoI" i-check name="Situacao" value="Inativo">
                                    Inativo
                                </label>
                            </div>
                        </div>
                    </div>

</form>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="vm.cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="vm.save()"><i class="fa fa-save"></i> Salvar</button>
</div>
<script>

    $(function () {
        $('.summernote').summernote({
            height: 350
        });
    });

</script>