<div class="row"  block-ui="block">
    <div class="col-md-12">

        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">
                    Prontuário Eletrônico
                </div>

                <div class="row">
                    <form class="form-horizontal" name="forms.buscapaciente" ng-enter="vm.pesquisar()" ng-submit="vm.pesquisar()" role="form" id="form" autocomplete="off" novalidate>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <select class="form-control" ng-model="vm.busca.Tipo">
                                    <option value="NmPaciente" selected>Paciente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-sm-12"><input type="text" class="form-control" placeholder="Pesquisar..." name="Descricao" ng-model="vm.busca.Descricao" maxlength="100"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary pull-left" ng-click="vm.pesquisar()"><span class="fa fa-search"> </span> Buscar</button>
                                <!--<button type="button" style="margin-left:20px;" ng-click="vm.addPaciente(0)" tooltip="Novo Paciente" class="btn btn-primary btn-cons"> + Paciente</button>-->
                            </div>
                        </div>
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>

            <table class="table table-hover table-condensed table-striped" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr class="bg-complete-lighter">
                        <th style="width: 5%">Id </th>
                        <th style="width: 15%">Paciente </th>
                        <th style="width: 10%">Data de Nascimento </th>
                        <th style="width: 10%">Mãe </th>
                        <th style="width: 10%">Telefone Celular </th>
                        <th style="width: 10%">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in vm.dados"> 
                        <td>{{ x.IdPaciente }}</td>
                        <td title="{{ x.NmPaciente | uppercase }}">{{ x.NmPaciente | uppercase }}</td>
                        <td>{{ x.DtNascimento | date: 'dd/MM/yyyy'  }}</td>
                        <td title="{{ x.Mae | uppercase }}">{{ x.Mae | uppercase }}</td>
                        <td>{{ x.TelCelular }}</td>
                        <td>
                            <a ui-sref="atendimento({id:x.IdPaciente})" class="btn btn-xs btn-primary" tooltip="Acessar"><span class="glyphicon glyphicon-user"></span>  </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
