<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{vm.titulo}} </h5>
                </div>
                <div class="ibox-content">
                    <div class="row" ng-if="vm.msgalert.length>0">
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">
                                <strong>Atenção</strong> {{ vm.msgalert }}
                            </div>
                        </div>
                    </div>
                    <div class="row" block-ui="blockModalCFinanc">
                        <form id="frm" name="forms.dadosfuncionario" role="form" ng-submit="submitForm(frm.$valid)" novalidate>

                            <div class="col-md-12">
                                <div class="col-sm-4">
                                    <div class="input-group" show-errors>
                                        <label>{{vm.tituloPessoa}} *</label>
                                        <input type="text" name="pessoa" placeholder="Selecione..." ng-model="vm.nomepessoaSelecionada" class="form-control" required> <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary" style="margin-top: 23px;" ng-click="vm.getpessoa()">
                                                <i class="fa fa-user"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-sm-4">
                                    <div class="form-group" show-errors>
                                        <label>Total *</label>
                                        <input type="text" name="total" placeholder="Total" class="form-control" ng-model="vm.financeiro.Total" ui-number-mask="2" value="{{vm.financeiro.Total | number: 2 }}" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" show-errors>
                                        <label>Data Vencimento 1ª parcela *</label>
                                        <input type="text" name="datavenc" placeholder="Data Vencimento" ng-model="vm.financeiro.DataVencimento" class="form-control" value="{{vm.financeiro.DataVencimento | date:'dd/MM/yyyy' }}" ui-date-mask required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" show-errors>
                                        <label>Plano de Conta *</label>
                                        <select class="form-control m-b" ng-options="item.IdPlanoConta as item.NmPlanoConta for item in vm.planos" name="plano" ng-model="vm.planoSelecionado" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-sm-4">
                                    <div class="form-group" show-errors>
                                        <label>Conta *</label>
                                        <select class="form-control m-b" ng-options="item.IdConta as item.Nome for item in vm.contas" name="contas" ng-model="vm.contaSelecionada" required></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" show-errors>
                                        <label>Tipo Pagamento *</label>
                                        <select class="form-control m-b" ng-options="item.tp as item.desc for item in vm.tipos" name="tipos" ng-model="vm.tipopagamentoSelecionado" required></select>
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-if="vm.tipopagamentoSelecionado == 'P'">
                                    <div class="form-group" show-errors>
                                        <label>Parcelas *</label>
                                        <input type="number" name="qtdeparcelas" ng-model="vm.financeiro.QuantidadeParcelas" min="1" placeholder="Nº parcelas" ng-blur="vm.geraParcelas()" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row" ng-if="vm.parcelasAdicionadas.length > 0">
                            <div class="col-md-12">
                                <div class="panel panel-info" style="min-height:210px;">
                                    <div class="panel-heading">
                                        <span class="panel-title">Parcelas adicionadas</span>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;width:40%;">Nº da parcela</th>
                                                    <th style="width:30%;">Data de vencimento</th>
                                                    <th style="width:30%;">Valor da parcela</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in vm.parcelasAdicionadas">
                                                    <td style="text-align:center;"><i class="fa fa-caret-right"></i> {{item.NumeroParcela}}</td>
                                                    <td style="text-align:center;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" class="form-control" style="width:30%;" value="{{item.DataVencimento}}" name="date_{{$index}}" ng-model="item.DataVencimento" ui-date-mask />
                                                        </div>
                                                    </td>
                                                    <td style="text-align:center;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-money"></i>
                                                            </span>
                                                            <input type="text" class="form-control" style="width:30%;" value="{{item.Valor}}" ui-number-mask="2" name="val_{{$index}}" ng-model="item.Valor" ui-mask="$99.99" ng-blur="vm.validatotal()" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group pull-right">
                            <a ng-click="vm.cancelar()" class="btn btn-white"><span class="fa fa-times-circle-o"></span>  Cancelar</a>
                            <button id="btnSalvar" ng-click="vm.salvar()" class="btn btn-primary"><span class="fa fa-save"></span> Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>