<div class="login-wrapper">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic" block-ui="blockGrid">
        <!-- START Background Pic-->
        <img src="assets/img/bg-login.jpg" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <h2 class="semi-bold text-white">
                Portal do Beneficiário <strong>Promed</strong>.<br /> Um canal exclusivo para você, nosso beneficiário.
            </h2>
            <p class="small">
                Para acessar o Portal Beneficiario é necessário ser um beneficiário Promed.
            </p>
        </div>
        <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <img src="assets/img/portal_beneficiario_2x.png" alt="logo" width="350" height="26">
            <p class="p-t-35">Para recuperar sua senha, informe os dados abaixo:</p>
            <div class="alert alert-danger" ng-show="vm.message.length > 0">
                <i class="fa fa-warning"></i>&nbsp;<strong>{{ vm.message }}</strong>
            </div>

            <form id="form-login" name="lostPasswordForm" class="p-t-15" role="form" ng-submit="vm.esqueceusenha()" novalidate>
                <div class="form-group form-group-default" show-errors>
                    <label>E-mail</label>
                    <input type="email" name="Email" ng-model="vm.beneficiario.email" placeholder="Informe seu e-mail de cadastro" class="form-control" required>

                </div>

                <div class="form-group form-group-default" show-errors>
                    <label>Carteira</label>
                    <input type="text" name="NumeroDaCarteira" ng-model="vm.beneficiario.NumeroDaCarteira" placeholder="Informe o Nº da sua Carteira" promed-mask class="form-control" required>

                </div>

                <button class="btn btn-primary m-t-10 btn-cons btn-animated from-top fa fa-share-square-o" type="submit"><span>Recuperar</span></button>
                <a class="btn btn-default m-t-10 btn-cons" ui-sref="login"><span>Voltar</span></a>
            </form>

            <div class="pull-bottom sm-pull-bottom">
                <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                    <div class="col-md-12 no-padding m-t-10">
                        <p>
                            <small>
                                &copy; Promed Assistência Médica Ltda.<br />Todos os direitos reservados.
                            </small>
                        </p>
                        <img src="assets/img/ans.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Login Right Container-->
</div>