<section class="panel">
    <div class="panel-heading">
        <div class="margin-bottom-10">
            <ul class="list-unstyled breadcrumb breadcrumb-custom" ng-cloak>
                <li>
                    <a href="#" class="active"><i class="icmn-home"></i> Página Inicial</a>
                </li>
                <li ng-repeat="item in $root.currentCrumbs" ng-cloak>
                    <a href="#" class="active">{{ item.name }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body" block-ui="blockListaCheques">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger" ng-if="vm.FormMessage.length > 0">
                    <div class="row">
                        <div class="col-lg-12">
                            <i class="fa fa-exclamation-triangle pull-left" style="font-size: 20px;"></i>
                            {{vm.FormMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4> Cheque </h4>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group" id="adv-search">
                            <input class="form-control" id="nome" name="nome" ng-model="vm.pesq.Emitente" type="text" placeholder="Emitente..">
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                            <form class="form-horizontal" name="forms.buscacheque" ng-enter="vm.buscar()" ng-submit="vm.buscar()" role="form" id="form" autocomplete="off" novalidate>
                                                <div class="form-group" style="margin-bottom:5px;">
                                                    <input class="form-control" id="nome" name="nome" ng-model="vm.pesq.Banco" type="text" placeholder="Banco.." style="margin-bottom:5px;" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" ng-click="vm.buscar()"><span class="fa fa-search" aria-hidden="true"></span> Pesquisar</button>
                                    <button type="button" class="btn btn-default" ng-click="vm.init()"><span class="fa fa-list" aria-hidden="true"></span> Ver todos </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 control-label text-left">
                        <div class="form-group pull-right">
                            <a ng-click="vm.abrir(0)" class="btn btn-primary">
                                <i class="fa fa-plus-square-o"></i>
                                <span class="bold">  Novo</span>
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-condensed table-striped" datatable="ng" dt-options="vm.dtOptions">
                            <thead>
                                <tr class="bg-complete-lighter">
                                    <th style="width: 5%">Código </th>
                                    <th style="width: 19%">Banco </th>
                                    <th style="width: 10%">Ag. Conta</th>
                                    <th style="width: 10%">Valor</th>
                                    <th style="width: 20%">Emitente</th>
                                    <th style="width: 10%">Bom Para </th>
                                    <th style="width: 13%">Situacao </th>
                                    <th style="width: 18%">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.cheques">
                                    <td>{{item.IdCheque}}</td>
                                    <td>{{item.Banco}}</td>
                                    <td>{{item.Agencia }} - {{item.Conta}}</td>
                                    <td>{{item.Valor | number: 2  }}</td>
                                    <td>{{item.Emitente}}</td>
                                    <td>{{item.BomPara | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <span ng-class="{'label label-warning': item.Situacao == 'Devolvido',
                                                'label label-success': item.Situacao == 'Emitido',
                                               'label label-danger': item.Situacao == 'Excluido',
                                                'label label-primary': item.Situacao == 'Depositado'}">{{item.Situacao }}</span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-icon btn-primary" ng-if="item.Situacao != 'Excluido'"  ng-click="vm.abrir(item.IdCheque)"><span class="fa fa-edit"> </span> Editar</button>
                                        <button type="button" class="btn btn-sm btn-icon btn-danger" ng-if="item.Situacao != 'Excluido'" ng-click="vm.excluir(item.IdCheque)"><span class="fa fa-remove"> </span>Excluir</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


